:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --items-gap: 30px;

  --primary-text-color: #757575;
  --additional-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --additional-color: #2196f3;
  --btn-hover-color: #188CE8;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --form-border-color: rgba(33, 33, 33, 0.2);
}

/* Контейнер */
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Общее наследование*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* Картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Ссылки*/
.link,
.logo {
  text-decoration: none;
}

/*Списки*/
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Скрытый контент */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Логотип*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--additional-color);
}

.logo-addition {
  color: var(--primary-black-color);
}

.page-footer .logo-addition {
  color: var(--primary-white-color);
}

/*Шапка*/
.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ECECEC;
  background-color: var(--primary-white-color);
}

/*Навигация*/ 
.header-items {
  display: flex;
}

.site-nav,
.nav.list,
.page-header .contacts.list {
  display: flex;
  align-items: center;
}

.nav.list {
  margin-left: 93px;
}

.page-header .contacts.list {
  margin-left: auto;
}

.nav .nav-item:not(:last-child),
.contacts .contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.nav .link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--additional-color);

  transform: none;
}

.nav .link::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--additional-color);

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.nav .link:hover::after {
  transform: scaleX(1);
}

.link.current {
  color: var(--additional-color);
}

.contact-item .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts .link {
  color: var(--primary-text-color);
}

.nav .link:hover,
.contacts .link:hover,
.nav .link:focus,
.contacts .link:focus {
  color: var(--additional-color);
}

.icon-contact {
  margin-right: 10px;
  
  fill: currentColor;
}

/*Герой*/
.hero {
  max-width: 1600px;
  min-height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      to right, 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/*Кнопки*/
.button {
  display: inline-block;
  
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;

  border: 0;
  border-radius: 4px;
}

.button.primary {
  min-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
              inset 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--additional-color);
  color: var(--primary-white-color);
  
  transform: scale(1);
  transition-property: background-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--btn-hover-color);
}

.button.primary:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15),
              inset 0px 0px 20px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.9);
}

.filter.button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
              0px 0px 0px rgba(0, 0, 0, 0.08),
              0px 0px 0px rgba(0, 0, 0, 0.12),
              inset 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);

  transform: scale(1);
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.filter.button:hover,
.filter.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12),
              inset 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--additional-color);
  color: var(--primary-white-color);
}

.filter.button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
              0px 0px 0px rgba(0, 0, 0, 0.08),
              0px 0px 0px rgba(0, 0, 0, 0.12),
              inset 0px 0px 20px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.9);
}

/*Текстовая часть*/
.section-box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-box.no-padding-top {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.features.list {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: calc((100% - var(--items-gap) * 3) / 4);
}

.feature-item:not(:last-child) {
  margin-right: var(--items-gap);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features.list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Особенности */
.feature-box {
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

/* Чем занимаемся */
.gallery.list {
  display: flex;
  justify-content: space-around;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item:not(:last-child) {
  margin-right: var(--items-gap);
}

.gallery-item .title {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  margin-bottom: 0;
  padding-top: 27px;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/*Карточки команды*/
.team.list {
  display: flex;
  justify-content: space-around;
}

.team-item:not(:last-child) {
  margin-right: var(--items-gap);
}

.team-item {
  flex-basis: calc((100% - var(--items-gap) * 3) / 4);
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  overflow: hidden;
}

.team.section-box {
  background-color: var(--primary-bg-color);
}

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: none;
}

.team-item .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member.description {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
}

.social-box.list {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.social.link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--icon-color);

  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social.link:hover,
.social.link:focus {
  background-color: var(--additional-color);
  color: var(--primary-white-color);
  transform: scale(1.2);
}

.icon-social {
  fill: currentColor;
}

/* Клиенты */
.clients.list {
  display: flex;
  justify-content: space-around;
}

.client-item:not(:last-child) {
  margin-right: var(--items-gap);
}

.client.link {
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transform: scale(1);
  transition-property: color, border-color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.client.link:hover,
.client.link:focus {
  color: var(--additional-color);
  border-color: var(--additional-color);
  transform: scale(1.2);
}

.icon-client {
  fill: currentColor;
}

/*Карточки портфолио*/
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - var(--items-gap) * 2) / 3);
  margin-right: var(--items-gap);
  margin-bottom: var(--items-gap);

  border: 1px solid #EEEEEE;
  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item .card-content {
  padding: 20px 24px;
}

.project.title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.filter-id {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

.project-tumb {
  position: relative;
  overflow: hidden;
}

.project-tumb::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.project-description {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  
  margin: 0 24px;
  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-white-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-item:hover .project-tumb::before {
  transform: translateY(0);
}

.portfolio-item:hover .project-description {
  transform: translateY(-50%);
}

/*Футер*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: inherit;

  color: var(--primary-white-color);
}

.page-footer .link {
  display: block;
  margin-bottom: 9px;

  color: var(--additional-text-color);
}

.page-footer .phone.link {
  margin-bottom: 0;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.join-box {
  width: 206px;
  
  margin-left: 70px;
}

.join-box .title,
.subscription-box .title {
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.join-box .social-box.list {
  margin: 0;
}

.join-box .social.link {
  display: flex;
  margin: 0;
  
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.join-box .social.link:hover,
.join-box .social.link:focus {
  background-color: var(--additional-color);
  color: var(--primary-white-color);
}

.contacts-box .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.subscription-box {
  width: 570px;
  margin-left: auto;
}

.footer-form {
  display: flex;
  justify-content: space-between;
}

.footer-form .form-input {
  width: 358px;
  
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--primary-white-color);

  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-form .form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form .form-input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--additional-color);
}

.footer-form .button {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
}

.icon-send {
  margin-left: 10px;

  fill: var(--primary-white-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.button.modal-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--primary-black-color);

  transform: scale(1);
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button.modal-close:hover,
.button.modal-close:focus {
  color: var(--additional-color);
  transform: scale(1.2);
}

.button.modal-close:active {
  color: var(--primary-text-color);
  transform: scale(0.9);
}

.icon-close {
  fill: currentColor;  
}

/* Форма */
.form {
  margin: 40px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field .form-input {
  margin: 0;
  padding: 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border-radius: 4px;
  border: 1px solid var(--form-border-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field .form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-input:focus {
  border: 1px solid var(--additional-color);
}

.icon-box {
  position: absolute;
  top: 29px;
  left: 15px;

  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-input:focus + .icon-box {
  color: var(--additional-color);
}

.icon-box .icon-form {
  fill: currentColor;
}

.form-field .form-input.comment {
  height: 120px;

  padding: 12px 16px;

  resize: none;
}

.checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox {
  width: 16px;
  height: 15px;
  
  background-image: url(../images/icon-unchecked.svg);

  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.checkbox-input:focus + .checkbox {
  background-image: url(../images/icon-unchecked-focus.svg);
}

.checkbox-input:checked + .checkbox {
  background-image: url(../images/icon-check.svg);
}

.checkbox-label {
  margin-left: 8px;
}

.agreement.link {
  text-decoration: underline;

  color: var(--additional-color);
}

.form .button.primary {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}