/** Переменные */
:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --primary-text-color: #757575;
  --secondary-text-color: #ffffff99;
  --title-text-color: #212121;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --additional-color: #2196f3;
  --btn-hover-color: #188CE8;
  --project-tumb-bg-color: #2196f3e6;
  --icon-color: #afb1b8;
  --form-border-color: #21212133;
  --black-color: #000000;
  --white-color: #ffffff;
  
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --items-gap: 30px;
}

/** Контейнер */
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  display: flex;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/** Главный стиль */
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

/** Изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/** Ссылки */
.link {
  text-decoration: none;
}

/** Списки */
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/** Скрытый контент */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** Логотип */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;

  color: var(--additional-color);
}

.logo--dark {
  color: var(--black-color);
}

.logo--light {
  color: var(--white-color);
}

/** Шапка */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ECECEC;
  background-color: var(--white-color);
}

/** Шапка - Навигация*/ 
.site-nav,
.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__list {
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--additional-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--additional-color);

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav__link:hover::after {
  transform: scaleX(1);
}

.site-nav__link--current {
  color: var(--additional-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--additional-color);

  transform: none;
}

/** Шапка - Контакты */
.header__contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--additional-color);
}

.header__contact-icon {
  margin-right: 10px;

  fill: currentColor;
}

/** Герой */
.hero {
  max-width: 1600px;
  min-height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      to right, 
      #2f303a66, 
      #2f303a66
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

/** Кнопки */
.button {
  display: inline-block;
  
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;

  border: 0;
  border-radius: 4px;
}

/** Главная кнопка */
.button--primary {
  min-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px #00000026,
              inset 0px 0px 0px 0px #0000004d;
  background-color: var(--additional-color);
  color: var(--white-color);
  
  transform: scale(1);
  transition-property: background-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--btn-hover-color);
}

.button--primary:active {
  box-shadow: 0px 0px 0px #00000026,
              inset 0px 0px 20px 8px #0000004d;
  transform: scale(0.9);
}

/** Кнопки фильтра */
.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  
  box-shadow: 0px 0px 0px #0000001a,
              0px 0px 0px #00000014,
              0px 0px 0px #0000001f,
              inset 0px 0px 0px 0px #0000004d;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);

  transform: scale(1);
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.filter__button:hover,
.filter__button:focus {
  box-shadow: 0px 3px 1px #0000001a,
              0px 1px 2px #00000014,
              0px 2px 2px #0000001f,
              inset 0px 0px 0px 0px #0000004d;
  background-color: var(--additional-color);
  color: var(--white-color);
}

.filter__button:active {
  box-shadow: 0px 0px 0px #0000001a,
              0px 0px 0px #00000014,
              0px 0px 0px #0000001f,
              inset 0px 0px 20px 8px #0000004d;
  transform: scale(0.9);
}

/** Кнопка закрытия модального окна */
.modal__button--close {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;

  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--black-color);

  transform: scale(1);
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__button--close:hover,
.modal__button--close:focus {
  color: var(--additional-color);
  transform: scale(1.2);
}

.modal__button--close:active {
  color: var(--primary-text-color);
  transform: scale(0.9);
}

.modal__close-icon {
  fill: currentColor;
}

/** Кнопка отправки формы */
.form__button {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

/** Кнопка подписки */
.subscription-box__button {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
}

/** Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

/** Текстовая часть  - Заголовки*/
.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

/** Особенности */
.feature {
  display: flex;
  justify-content: space-around;
}

.feature__item {
  width: calc((100% - var(--items-gap) * 3) / 4);
}

.feature__item:not(:last-child) {
  margin-right: var(--items-gap);
}

.feature__box {
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
}

/** Специализация студии */
.gallery {
  display: flex;
  justify-content: space-around;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item:not(:last-child) {
  margin-right: var(--items-gap);
}

.gallery__item .title {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  margin-bottom: 0;
  padding-top: 27px;
  text-align: center;

  background-color: #2f303acc;
  color: var(--white-color);
}

/** Команда */
.section--alt-bg {
  background-color: var(--primary-bg-color);
}

.team{
  display: flex;
  justify-content: space-around;
}

.team__item {
  flex-basis: calc((100% - var(--items-gap) * 3) / 4);
  
  box-shadow: 0px 1px 3px #0000001f,
              0px 1px 1px #00000024,
              0px 2px 1px #00000033;
  border: 0;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  overflow: hidden;
}

.team__item:not(:last-child) {
  margin-right: var(--items-gap);
}

.team__card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: none;
}

.team__member-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
}

/** Соцсети */
.social {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.social__link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--icon-color);

  transform: scale(1);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--additional-color);
  color: var(--white-color);
  transform: scale(1.2);
}

.social__icon {
  fill: currentColor;
}

.social--alignment {
  margin: 0;
}

.social__link--alt-color {
  margin: 0;

  background-color: #ffffff1a;
  color: var(--white-color);
}

.social__link--alt-color:hover,
.social__link--alt-color:focus {
  background-color: var(--additional-color);
  color: var(--white-color);
}

/** Клиенты */
.clients {
  display: flex;
  justify-content: space-around;
}

.clients__item:not(:last-child) {
  margin-right: var(--items-gap);
}

.clients__link {
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transform: scale(1);
  transition-property: color, border-color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--additional-color);
  border-color: var(--additional-color);
  transform: scale(1.2);
}

.clients__client-icon {
  fill: currentColor;
}

/** Фильтр портфолио */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

/** Карточки портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  flex-basis: calc((100% - var(--items-gap) * 2) / 3);
  margin-right: var(--items-gap);
  margin-bottom: var(--items-gap);

  border: 1px solid #EEEEEE;
  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px #0000001f,
              0px 4px 4px #0000000f,
              1px 4px 6px #00000029;
}

.project__tumb {
  position: relative;
  overflow: hidden;
}

.project__tumb::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;

  background-color: var(--project-tumb-bg-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.project__description {
  position: absolute;
  top: 50%;
  transform: translateY(100%);

  margin: 0 24px;
  font-size: 18px;
  line-height: 1.55;

  color: var(--white-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio__item:hover .project__tumb::before {
  transform: translateY(0);
}

.portfolio__item:hover .project__description {
  transform: translateY(-50%);
}

.project__meta {
  padding: 20px 24px;
}

.project__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.project__filter-id {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

/** Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

/** Футер - Адрес*/
.footer__address {
  margin-top: 20px;
  margin-bottom: 6px;
  font-style: inherit;

  color: var(--white-color);
}

/** Футер - Контакты */
.footer__contact-item:not(:last-child) {
  margin-bottom: 6px;
}

.footer__contact-link {
  display: inline-block;

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--additional-color);
}

/** Футер - Соцсети */
.join-box {
  width: 206px;
  
  margin-left: 85px;
}

.join-box__title {
  margin-bottom: 20px;

  color: var(--white-color);
}

/** Футер - Подписка */
.subscription-box {
  width: 570px;
  margin-left: auto;
}

.subscription-box__title {
  margin-bottom: 20px;

  color: var(--white-color);
}

.subscription-box__form {
  display: flex;
  justify-content: space-between;
}

.subscription-box__input {
  width: 358px;
  
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid #ffffff4d;
  box-shadow: 0px 4px 4px #00000026;
  background-color: transparent;
  color: var(--white-color);

  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.subscription-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #ffffff99;
}

.subscription-box__input:focus {
  background-color: #ffffff1a;
  border: 1px solid var(--additional-color);
}

.subscription-box__send-icon {
  margin-left: 10px;

  fill: var(--white-color);
}

/** Модальное окно */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: #00000033;
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px #0000001f,
              0px 1px 1px #00000024,
              0px 2px 1px #00000033;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/** Форма */
.form {
  margin: 40px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  margin: 0;
  padding: 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border-radius: 4px;
  border: 1px solid var(--form-border-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form__input:focus {
  border: 1px solid var(--additional-color);
}

.form__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #75757580;
}

.form__icon-box {
  position: absolute;
  top: 29px;
  left: 15px;

  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form__input:focus + .form__icon-box {
  color: var(--additional-color);
}

.form__icon {
  fill: currentColor;
}

.form__comment {
  height: 120px;

  padding: 12px 16px;

  resize: none;
}

.form__checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form__checkbox-icon {
  width: 16px;
  height: 15px;
  
  background-image: url(../images/icon-unchecked.svg);

  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form__checkbox-input:focus + .form__checkbox-icon {
  background-image: url(../images/icon-unchecked-focus.svg);
}

.form__checkbox-input:checked + .form__checkbox-icon {
  background-image: url(../images/icon-check.svg);
}

.form__checkbox-label {
  margin-left: 8px;
}

.form__agreement {
  text-decoration: underline;

  color: var(--additional-color);
}